[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
"discord.py" = "*"
steam = "*"
python-valve = "*"
pillow = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
databases = {extras = ["sqlite"], version = "*"}
unidecode = "*"

[requires]
python_version = "3.7"
