aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
discord.py==1.4.1
docopt==0.6.2
gevent==20.6.2
gevent-eventemitter==2.1
greenlet==0.4.16
idna==2.10
monotonic==1.5
multidict==4.7.6
Pillow==7.2.0
protobuf==3.12.4
pycparser==2.20
pycryptodomex==3.9.8
python-valve==0.2.1
requests==2.24.0
six==1.15.0
steam==1.0.2
urllib3==1.25.10
vdf==3.3
wincertstore==0.2
yarl==1.5.1
zope.event==4.4
zope.interface==5.1.0