-i https://pypi.org/simple/
aiodns==2.0.0
aiohttp==3.6.3
aiosqlite==0.17.0
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
databases[sqlite]==0.4.0
discord.py==1.6.0
docopt==0.6.2
greenlet==1.0.0 ; python_version >= '3'
idna==2.10
monotonic==1.5
multidict==4.7.6
pillow==8.1.1
pycares==3.1.1
pycparser==2.20
pycryptodomex==3.10.1
python-valve==0.2.1
requests==2.25.1
six==1.15.0
sqlalchemy==1.4.1
steam==1.0.2
typing-extensions==3.7.4.3
unidecode==1.1.1
urllib3==1.26.4
vdf==3.3
yarl==1.5.1
